.home-banner{
  padding-top: 6em;

}

.carousel-indicators > li {
  border-radius: 50%;
  height: 11px;
  width: 11px;

}

@media (min-width: 768px ){
  .carousel-indicators > li {
  height: 17px;
  width: 17px;
  }
}

/* .overlay {
  background: rgba(188, 25, 134, 0.5);
} */
