/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
}
section {
  font-family: "Poppins";
  text-align: center;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 100px;
  top: 1px;
  left: 1px;
  background: #c0392b;
  position: fixed;
}
.logo {
  width: 30%;
  float: left;
  text-align: left;
  line-height: 100px;
}
.logo a {
  text-decoration: none;
  font-size: 30px;
  font-family: "Pacifico";
  counter-reset: #fff;
  letter-spacing: 4px;
}
nav {
  float: right;
  line-height: 100%;
  display: flex;
}
nav a {
  text-decoration: none;
  font-family: "Pacifico";
  letter-spacing: 4px;
  font-size: 20px;
  color: #fff;
  padding: 36px 10px;
  margin: 0 1px;
  font-weight: 500;
}
nav a:hover {
  background: #fff;
  color: #130f40;
}

.banner-area:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #130f40;
  opacity: 7;
  z-index: -1;
}
.banner-area h2 {
  padding-top: 8%;
  font-size: 80px;
  color: #fff;
}
.content-area {
  width: 100%;
  height: 800px;
  position: relative;
  background: #fff;
  top: 550px;
}
.content-area h2 {
  font-size: 40px;
  margin: 0;
  padding-top: 30px;
  letter-spacing: 4px;
}
.content-area p {
  padding: 2% 0;
  font-size: 27px;
  line-height: 30px;
  text-align: justify;
}
.dropdown__menu {
  display: block;
  position: relative;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}
.dropdown__menu ul {
  display: block;
  margin: 10px;
} */

.carousel-indicators > li {
  border-radius: 50%;
  height: 11px;
  width: 11px;

}

@media (min-width: 768px ){
  .carousel-indicators > li {
  height: 17px;
  width: 17px;
  }
}