<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/about" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">About</span>
    </a>
     <a mat-list-item routerLink="/gallery" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Gallery</span>
    </a>
    <a mat-list-item routerLink="/babyclass" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Baby Class</span>
    </a>
    <a mat-list-item routerLink="/toddlerclass" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">toddlerclass</span>
    </a>
    <a mat-list-item routerLink="/preschool01" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">PreSchool class 1</span>
    </a>
    <a mat-list-item routerLink="/preschool02" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">PreSchool class 2</span>
    </a>
    <a mat-list-item routerLink="/graderr" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Grade RR</span>
    </a>
    <a mat-list-item routerLink="/grader" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Grade R</span>
    </a>
    <a mat-list-item routerLink="/registration" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Apply</span>
      </a>
      <a mat-list-item routerLink="/contact" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Contact</span>
        </a>
  </mat-nav-list>