<section class="overview-card">
  <div class="heading"><span class="color-one">{{title01}}</span>{{title02}}</div>
  <div class="content">
    <div class="image">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.877 532.863">
        <path id="Path_3" data-name="Path 3"
          d="M941.152,1191.12s-190.862,35.437-149.006,123.257,30.136,114.013-33.484,147.909,10.045,169.479,10.045,169.479,15.068,47.762,117.2,36.977,85.385-83.2,194.21-36.977,105.476,24.652,127.241-40.059,10.045-55.466-18.417-141.746,77.014-155.613,50.227-177.182-1.674-150.99-117.2-132.5S941.152,1191.12,941.152,1191.12Z"
          transform="translate(-732.11 -1138.004)" fill="#00b3e2" stroke="#00b3e2" stroke-width="1" />
      </svg>
      <img class="overlay-image" src="/assets/images/reg-overview.png">
    </div>
    <div class="text">
      <div class="paragraph">Welcome to Little Light Academy. You will be notified via a letter, email or sms once your child is admitted and 
        accepted to join our school. <br>
        
        A list of childs toiletry will be circulated via email once accepted.</div>
      <ul>
        <li>Birth Certificate</li>
        <li>Parents/ Guardian ID Copy</li>
        <li>Clinic card</li>
      </ul>
      <div class="button section">
        <button class="btn btn-primary">Apply Online</button>
        <button class="btn btn-primary">Download Form</button>
      </div>
    </div>
  </div>
</section>
