.overview-card {

    /* display: flex;
    flex-direction: column; */
    padding: 40px 20px; 
}

.heading {
padding: 30px;
text-align: center;
font-size: 37px;
color: #BF258C;
}

.content {
    display: flex;
    flex-direction: column; 
    position: relative;
}

svg {
    min-width: 29vw;
    min-height: 16vh;
z-index: 0;
/* position: relative; */

/* width="511.877" height="532.863" */
}

.paragraph {
    padding: 50px 15px;
    font-size: 23px;
    line-height: 1.5;
}

img {
    z-index: 2;
    position: absolute;
    top:0;
    left: 0;
    height: auto;
    width: 95%;
    width: 100%;
    max-width: 276px;
    max-height: 285px;
    /* height: 50vh;
    width: 25vw; */
}

.color-one {
    padding-right: 14px;
    color: #00B3E3;
}

.color-two {
    color: greenyellow;
}

@media(min-width: 375px) {
    img{
        max-width: 321px;
        max-height: 340px;
    }

}

@media(min-width: 425px) {
    img{
        min-width: 375px;
        min-height: 390px;
    }
}

@media(min-width:768px) {
    .content {
        display: flex;
        flex-direction: row;
    }

    .overview-card {
        /* padding: 80px 120px; */
        padding: 80px 32px;
    }

    .heading {
        font-size: 50px;
    }

    .paragraph {
        /* padding: 50px 70px; */
        padding: 15px 37px;
        font-size: 15px;
    }

    svg{
    min-width: 29vw;
    min-height: 56vh;
    }
/* 
    img {
        height: 100%;
        width: 100%;
    } */
}

@media(min-width:1024px) {
    .content {
        display: flex;
        flex-direction: row;
    }

    .overview-card {
        padding: 80px 120px;
        padding: 80px 32px;
    }

    .heading {
        font-size: 50px;
    }

    .paragraph {
        /* padding: 50px 70px; */
        padding: 15px 37px;
        font-size: 20px;
    }

    svg{
    min-width: 29vw;
    min-height: 56vh;
    }
/* 
    img {
        height: 100%;
        width: 100%;
    } */
}

@media(min-width:1440px) {
    .content {
        display: flex;
        flex-direction: row;
    }

    .overview-card {
        padding: 80px 120px;
        padding: 80px 32px;
    }

    .heading {
        font-size: 50px;
    }

    .paragraph {
        /* padding: 50px 70px; */
        padding: 15px 37px;
        font-size: 28px;
    }

    svg{
    min-width: 29vw;
    min-height: 56vh;
    }

    img {
    min-width: 474px;
    min-height: 501px;
    }
}

@media(min-width:2560px) {
    .content {
        display: flex;
        flex-direction: row;
    }

    .overview-card {
        /* padding: 80px 120px; */
        /* padding: 80px 32px;  */
    }

    .heading {
        font-size: 100px;
    }

    .paragraph {
        /* padding: 50px 70px; */
        padding: 15px 37px;
        font-size: 50px;
    }

    svg{
    min-width: 29vw;
    min-height: 56vh;
    }

    img {
    min-width: 807px;
    min-height: 860px;
    }

    .button-section {
        display: flex;
        flex-direction: row;
    }
}