<section class="register-cta">
  <div class="register-cta__cta-image">
    <div class="register-cta__cta-text">
      <ng-container *ngFor="let data of ctaData">
        <ng-container [ngSwitch]="data.type">
          <h1 class="register-cta__heading" *ngSwitchCase="'header'">{{ data.content }}</h1>
          <p class="register-cta__paragraph" *ngSwitchCase="'paragraph'">{{ data.content }}</p>
          <a routerLink="/registration" routerLinkActive="active"><button class="register-cta__cta-button" *ngSwitchCase="'button'">{{ data.content }}</button></a>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>
