<div class="header">Classrooms</div>
<div class="container-fluid">
<section class="card-row">
<div class="image-card">
    <div class ="image">
        <img src="assets/images/classroom.png">
        <!-- TO DO - Use SVG and image instead of one image -->
        <!-- <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 511.877 532.863">
            <path id="Path_3" data-name="Path 3" d="M941.152,1191.12s-190.862,35.437-149.006,123.257,30.136,114.013-33.484,147.909,10.045,169.479,10.045,169.479,15.068,47.762,117.2,36.977,85.385-83.2,194.21-36.977,105.476,24.652,127.241-40.059,10.045-55.466-18.417-141.746,77.014-155.613,50.227-177.182-1.674-150.99-117.2-132.5S941.152,1191.12,941.152,1191.12Z" transform="translate(-732.11 -1138.004)" fill="#a1cc4d" stroke="#00b3e2" stroke-width="1"/>
          </svg>
          <img class="overlay-image img-fluid" src="/assets/images/homeoverview-image.png"> -->
    </div>
    <div class="text-section">
       <div class="heading">
           Baby Class
       </div> 
       <p>Infant to 12 months old</p>
       <button>Visit</button>
    </div>
</div>
<div class="image-card">
    <div class ="image">
        <img src="assets/images/classroom.png">
        <!-- <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 511.877 532.863">
            <path id="Path_3" data-name="Path 3" d="M941.152,1191.12s-190.862,35.437-149.006,123.257,30.136,114.013-33.484,147.909,10.045,169.479,10.045,169.479,15.068,47.762,117.2,36.977,85.385-83.2,194.21-36.977,105.476,24.652,127.241-40.059,10.045-55.466-18.417-141.746,77.014-155.613,50.227-177.182-1.674-150.99-117.2-132.5S941.152,1191.12,941.152,1191.12Z" transform="translate(-732.11 -1138.004)" fill="#f59c34" stroke="#00b3e2" stroke-width="1"/>
          </svg>
          <img class="overlay-image img-fluid" src="/assets/images/homeoverview-image.png"> -->
    </div>
    <div class="text-section">
       <div class="heading">
          Toddler Class (Garfield)
       </div> 
       <p>Toddlers 1 -3 years</p>
       <button>Visit</button>
    </div>
</div>
<div class="image-card">
    <div class ="image">
        <img src="assets/images/classroom.png">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300.67 269.62">
            <path id="Path_6" data-name="Path 6" d="M803.48,2433.871s-78.177,2.415-74.569,44.683-16.838,62.8-16.838,62.8-37.285,20.529,0,54.344,33.676,101.442,121.475,88.158,133.5-68.836,133.5-68.836,58.18-89.039,10.071-109.57-1.652-99.354-77.423-88.485S803.48,2433.871,803.48,2433.871Z" transform="translate(-695.502 -2415.94)" fill="#bc1986"/>
          </svg>          
          <img class="overlay-image img-fluid" src="/assets/images/homeoverview-image.png"> -->
    </div>
    <div class="text-section">
       <div class="heading">
           PreSchool (Smurf)
       </div> 
       <p>Children 3 years</p>
       <button>Visit</button>
    </div>
</div>
<div class="image-card">
    <div class ="image">
        <img src="assets/images/classroom.png">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300.67 269.62">
            <path id="Path_6" data-name="Path 6" d="M803.48,2433.871s-78.177,2.415-74.569,44.683-16.838,62.8-16.838,62.8-37.285,20.529,0,54.344,33.676,101.442,121.475,88.158,133.5-68.836,133.5-68.836,58.18-89.039,10.071-109.57-1.652-99.354-77.423-88.485S803.48,2433.871,803.48,2433.871Z" transform="translate(-695.502 -2415.94)" fill="#bc1986"/>
          </svg>          
          <img class="overlay-image img-fluid" src="/assets/images/homeoverview-image.png"> -->
    </div>
    <div class="text-section">
       <div class="heading">
           PreSchool (Goofey)
       </div> 
       <p>Children 4 years</p>
       <button>Visit</button>
    </div>
</div>
<div class="image-card">
    <div class ="image">
        <img class="overlay-image" src="assets/images/classroom.png">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300.67 269.62">
            <path id="Path_7" data-name="Path 7" d="M803.48,2433.871s-78.177,2.415-74.569,44.683-16.838,62.8-16.838,62.8-37.285,20.529,0,54.344,33.676,101.442,121.475,88.158,133.5-68.836,133.5-68.836,58.18-89.039,10.071-109.57-1.652-99.354-77.423-88.485S803.48,2433.871,803.48,2433.871Z" transform="translate(-695.502 -2415.94)" fill="#00b3e2"/>
          </svg>          
          <img class="overlay-image img-fluid" src="/assets/images/homeoverview-image.png"> -->
    </div>
    <div class="text-section">
       <div class="heading">
           Grade RR - Donald Duck
       </div> 
       <p>Children 5 years</p>
       <button>Visit</button>
    </div>
</div>
<div class="image-card">
    <div class ="image">
        <img class="overlay-image" src="assets/images/classroom.png">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300.67 269.62">
            <path id="Path_8" data-name="Path 8" d="M803.48,2433.871s-78.177,2.415-74.569,44.683-16.838,62.8-16.838,62.8-37.285,20.529,0,54.344,33.676,101.442,121.475,88.158,133.5-68.836,133.5-68.836,58.18-89.039,10.071-109.57-1.652-99.354-77.423-88.485S803.48,2433.871,803.48,2433.871Z" transform="translate(-695.502 -2415.94)"/>
          </svg>          
          <img class="overlay-image img-fluid" src="/assets/images/homeoverview-image.png"> -->
    </div>
    <div class="text-section">
       <div class="heading">
           Grade R
       </div> 
       <p>Childen 6 years</p>
       <button>Visit</button>
    </div>
</div>



</section>    
