<section class="classrooms">
  <div class="classrooms__header">Classrooms</div>
  <div class="classrooms__card-row">
    <div class="classrooms__image-card">
      <div class="classrooms__image">
        <img src="assets/images/class/greens01.png">
      </div>
      <div class="classrooms__text-section">
        <div class="classrooms__heading classrooms__green">
          Baby Class
        </div>
        <p>Infant to 12 months old</p>
        <a routerLink="/babyclass" routerLinkActive="active"><button class="classrooms__btn-green">Visit</button></a>
      </div>
    </div>
    <div class="classrooms__image-card">
      <div class="classrooms__image">
        <img src="assets/images/class/oranges.png">
      </div>
      <div class="classrooms__text-section">
        <div class="classrooms__heading classrooms__orange">
          Toddler Class (Garfield)
        </div>
        <p>Toddlers 1 -3 years</p>
        <a routerLink="/toddlerclass" routerLinkActive="active"><button class="classrooms__btn-orange">Visit</button></a>
      </div>
    </div>
    <div class="classrooms__image-card">
      <div class="classrooms__image">
        <img src="assets/images/class/purples.png">
      </div>
      <div class="classrooms__text-section">
        <div class="classrooms__heading classrooms__purple">
          PreSchool (Smurf)
        </div>
        <p>Children 3 years</p>
        <a routerLink="/preschool01" routerLinkActive="active"><button class="classrooms__btn-purple">Visit</button> </a>
      </div>
    </div>
    <div class="classrooms__image-card">
      <div class="classrooms__image">
        <img src="assets/images/class/blue.png">
      </div>
      <div class="classrooms__text-section">
        <div class="classrooms__heading classrooms__blue">
          PreSchool (Goofey)
        </div>
        <p>Children 4 years</p>
        <a routerLink="/preschool02" routerLinkActive="active"><button class="classrooms__btn-blue">Visit</button></a>
      </div>
    </div>
    <div class="classrooms__image-card">
      <div class="classrooms__image">
        <img class="overlay-image" src="assets/images/class/blacks.png">
      </div>
      <div class="classrooms__text-section">
        <div class="classrooms__heading classrooms__black">
          Grade RR - Donald Duck
        </div>
        <p>Children 5 years</p>
       <a routerLink="/graderr" routerLinkActive="active"><button class="classrooms__btn-black">Visit</button></a>
      </div>
    </div>
    <div class="classrooms__image-card">
      <div class="classrooms__image">
        <img class="overlay-image" src="assets/images/class/greens2.png">
      </div>
      <div class="classrooms__text-section">
        <div class="classrooms__heading classrooms__green">
          Grade R
        </div>
        <p>Childen 6 years</p>
        <a routerLink="/grader" routerLinkActive="active"><button class="classrooms__btn-green">Visit</button></a>
      </div>
    </div>
  </div>
</section>
