.classrooms {
  &__header {
    text-align: center;
    font-size: 18px;
    padding: 1.4em;
    font-family: 'Bree Serif', serif;
    letter-spacing: 3;

    @media(min-width: 768px) {
      font-size: 40px;
      padding: 1.4em 1.4em 0em;
    }

    @media(min-width:1280px) {
      padding: 1.4em;
    }

    @media(min-width: 1440px) {
      font-size: 50px;
    }
  }

  &__card-row {
    display: flex;
    flex-direction: column;
    padding: 30px;

    @media(min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }

    @media(min-width: 1024px) {
      // flex-direction: row;
      // align-items: center;
      padding: 1em 2.5em;
    }

    @media(min-width: 1440px) {
      padding: 0 5em;
    }

    @media(min-width:2560px) {
      padding: 0 19em;
    }


  }

  &__image-card {

    padding: 2em 1em;

    @media(min-width: 1024px) {
      padding: 1em;
    }

    @media(min-width:1440px) {
      position: relative;
      padding: 2em;
    }
  }

  &__image {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(min-width: 768px) {}

    img {
      height: 45vh;

      @media(min-width: 768px) {
        height: 13vh;
      }

      @media(min-width:1024px) {
        height: 17vh;
      }

      @media(min-width:1440px) {
        height: 24vh;
      }

      @media(min-width:2560px) {
        height: 40vh;
      }
    }
  }

  &__text-section {
    text-align: center;
    line-height: 2;

    p {
      font-size: 12px;
      font-family: 'Signika Negative', sans-serif;

      @media(min-width:768px) {
        font-size: 8px;
      }

      @media(min-width: 1024px) {
        font-size: 12px;
      }

      @media(min-width: 2560px) {
        font-size: 22px;
      }
    }
  }

  &__green {
    color: #A1CC4D;
  }

  &__orange {
    color: orange;
  }

  &__black {
    color: black;
  }

  &__blue {
    color:#00B3E3;
  }

  &__purple {
    color: #BF258C;
  }

  &__heading {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Bree Serif', serif;

    @media(min-width: 768px) {
      font-size: 10px;
    }

    @media(min-width: 1024px) {
      font-size: 14px;
    }

    @media(min-width: 1440px) {
      font-size: 16px
    }

    @media(min-width: 2560px) {
      font-size: 26px;
    }
  }

  button {
    border-radius: 4px;
    color: white;
    // background: #A1CC4D;
    width: 80px;
    height: 29px;
    border: 0px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    @media(min-width:2560px) {
      width: 150px;
      height: 53px;
      font-size: 22px;
      letter-spacing: 1;
    }
  }

  &__btn-orange {
    background: orange;
  
  }

  &__btn-green {
    background: #A1CC4D;
  }

  &__btn-black {
    background: black;
  }

  &__btn-blue {
    background:#00B3E3;;
  }

  &__btn-purple {
    background: #BF258C
  }


}
