<section class="footer">
<div class="logo">
    <img src="/assets/images/Logo.png">
    <p>registration 00000000</p>
    <div class="icons">
    <div class="icon-border icon">
        <i class="fa fa-facebook"></i>
      </div>
      <div class="icon-border icon">
        <i class="fa fa-facebook"></i>
      </div>
      <div class="icon-border icon">
        <i class="fa fa-facebook"></i>
      </div>
</div>
    </div>
    <div class="footer-item">
        <h3>Classrooms</h3>
        <span>Classroom 1</span>
        <span>Classroom 2</span>
        <span>Classroom 3</span>
        <span>Classroom 4</span>
        <span>Classroom 5</span>
            </div>
            <div class="footer-item">
                <h3>Links</h3>
                <span>Home</span>
                <span>About</span>
                <span>Gallery</span>
                <span>Registration</span>
                <span>Contact</span>
                    </div>
                    <div class="footer-item">
                        <h3>Contact Details</h3>
                        <span>14 Street name</span>
                <span>Johannesburg</span>
                <span>1100</span>
                <span>00000000</span>
                <span>info@name.co.za</span>
                            </div>

</section>