<section class="footer">
  <div class="logo">
    <img src="/assets/images/Logo.png">
    <p>EMIS Number : 70070062</p>
    <div class="icons">
      <div class="icon-border icon">
        <i class="fa fa-facebook"></i>
      </div>
      <div class="icon-border icon">
        <i class="fa fa-instagram"></i>
      </div>
      <div class="icon-border icon">
        <i class="fa fa-twitter"></i>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <h3>Classrooms</h3>
    <span>Baby Class</span>
    <span>Toddler Class</span>
    <span>PreSchool class 01</span>
    <span>PreSchool class 02</span>
    <span>Grade RR</span>
    <span>Grade R</span>
  </div>
  <div class="footer-item">
    <h3>Links</h3>
    <span>Home</span>
    <span>About</span>
    <span>Gallery</span>
    <span>Registration</span>
    <span>Contact</span>
  </div>
  <div class="footer-item">
    <h3>Contact Details</h3>
    <span>90 Longmore Street,</span>
    <span>Benoni, </span>
    <span>1501</span>
    <span>hello@lightlightacademy.co.za</span>
  </div>

</section>
