<section class="footer">
  <div class="logo">
    <img src="/assets/images/Logo.png">
    <p>EMIS Number : 70070062</p>
    <div class="icons">
      <div class="icon">
        <a href="https://facebook.com/LittlelightAcademyGP"><i class="fa fa-facebook"></i></a>
      </div>
      <div class="icon">
        <a href="https://instagram.com/littlelightacademygp"><i class="fa fa-instagram"></i></a> 
      </div>
    </div>
  </div>
  <div class="footer-item">
    <h3>Classrooms</h3>
    <span><a routerLink="/babyclass">Baby Class</a></span>
    <span><a routerLink="/toddlerclass">Toddler Class</a></span>
    <span><a routerLink="/preschool01">PreSchool class 01</a></span>
    <span> <a routerLink="/preschool02">PreSchool class 02</a></span>
    <span><a routerLink="/graderr">Grade RR</a></span>
    <span><a routerLink="/grader">Grade R</a></span>
  </div>
  <div class="footer-item">
    <h3>Links</h3>
    <span><a routerLink="/" routerLinkActive="active">Home</a></span>
    <span><a routerLink="/about" routerLinkActive="active">About</a></span>
    <span><a routerLink="/gallery" routerLinkActive="active">Gallery</a></span>
    <span><a routerLink="/registration" routerLinkActive="active">Registration</a></span>
    <span><a routerLink="/contact" routerLinkActive="active">Contact</a></span>
  </div>
  <div class="footer-item">
    <h3>Contact Details</h3>
    <span>90 Longmore Street,</span>
    <span>Crystal Park,</span>
    <span>Benoni, </span>
    <span>1501</span>
    <span>hello@lightlightacademy.co.za</span>
    <span><a href="tel:063-466-4794">063 466 4794</a></span>
  </div>

</section>
