.overview-card {
  // margin: 0px;
  overflow: hidden;
  background-blend-mode: overlay;
  background-size: 20em;
  background-repeat: no-repeat;
  background-position: right;

  &__hand-image {
    opacity: 0.2;
    height: 17vh;

    @media(min-width: 1280px) {
      height: 30vh;
    }

    @media(min-width: 1440px) {
      height: 30vh;
    }

    @media(min-width: 2560px) {
      height: 40vh;
    }
  }

  &__heading {
    text-align: center;
    font-size: 37px;
    line-height: 2;

  }

  &__color-one {
    color: #BF258C;
  }

  &__color-two {
    color: #00B3E3;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 0em 1.5em 3em;
    z-index: 3;

    @media(min-width: 425px) {
      padding: 0em 2.5em 3em;
    }

    @media(min-width: 768px) {
      flex-direction: row;
      padding: 0em 2.5em 3em;
    }

    @media(min-width: 1024px) {
      padding: 0em 3.5em 3em;
    }

    @media(min-width: 1440px) {
      padding: 0em 2.5em 3em;
    }
  }

  &__image {
    img {
      width: 75vw;
      padding: 2em 0em;

      @media(min-width: 768px) {
        width: 23vw;
      }
    }
  }

  &__paragraph {

    font-family: 'Signika Negative', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 2;

    @media(min-width: 768px) {
      padding: 0em 2.7em;
      max-width: 74vw;
      font-size: 12px;
    }

    @media(min-width: 1024px) {
      font-size: 15px;
    }

    @media(min-width: 1280px) {
      font-size: 21px;
    }

    @media(min-width: 1440px) {
      padding: 0em 2em;
      font-size: 27px;
      line-height: 2;
    }

    @media(min-width: 2560px) {
      font-size: 43px;
      max-width: 54vw;
    }
  }


}
