.banner {
    background-image: url("/assets/images/slide1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;

    @media(min-width: 768px) {
        height: 100vh;
    }

    // svg{
    //     height: 35vh;
    //     z-index: 2;
    //     position: absolute;
    // }
    // &__text {
    //     z-index: 4;
    //     position: relative;
    //     padding: 70px;

    // }

    // &__content {
    //     padding: 19vw 106vh;
    // }
}

.about-us {

    padding-top: 13em;

@media(min-width: 768px) {
    padding-top: 2em;
}

    &__header{
        text-align: center;
        padding: 50px 0px 50px;
        font-family: 'Bree Serif', serif;
    
        @media(min-width: 768px) {
            padding: 5em 0em 0em;
        }
      }
    
      &__color-one {
        padding: 5px;
        color: #A1CC4D;
        padding-right: 0.3em;
    
        @media(min-width: 768px) {
            font-size: 40px;
        }
    
        @media(min-width: 1440px) {
            font-size: 60px;
        }
    
        @media(min-width: 2560px) {
         font-size: 110px;   
         padding-right: 0.3em;
        }
      }
    
      &__color-two {
        color: #BF258C;
    
        @media(min-width: 768px) {
            font-size: 40px;
        }
    
        @media(min-width: 1440px) {
            font-size: 60px;
        }
    
        @media(min-width: 2560px) {
          font-size: 110px;
        }
      }

&__info {
font-size: 18px;
line-height: 2;
padding: 40px;


p{
    font-size: 23px;
}
}

&__heading {
font-size: 32px;
padding: 12px 0px;
font-weight: 600;
letter-spacing: 2px;
}


}