<section class="banner">
   <div class="banner__content">
   <!-- <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 511.877 532.863">
      <path id="Path_3" data-name="Path 3" d="M941.152,1191.12s-190.862,35.437-149.006,123.257,30.136,114.013-33.484,147.909,10.045,169.479,10.045,169.479,15.068,47.762,117.2,36.977,85.385-83.2,194.21-36.977,105.476,24.652,127.241-40.059,10.045-55.466-18.417-141.746,77.014-155.613,50.227-177.182-1.674-150.99-117.2-132.5S941.152,1191.12,941.152,1191.12Z" transform="translate(-732.11 -1138.004)" fill="#a1cc4d" stroke="#00b3e2" stroke-width="1"/>
   </svg>
<div class="banner__text">About us</div> -->
</div>
</section>
<section class="about-us">
 <div class="about-us__header"><span class="about-us__color-one">{{title01}}</span><span
      class="about-us__color-two">{{title02}}</span></div>
<app-overview-card [overviewCard] ="overviewData"></app-overview-card>
<app-register-cta [ctaData] ="ctaData"></app-register-cta>
<div class ="about-us__info">
   <p> We focus on laughing, learning, playing, and discovering the world around us. Your child will enjoy enhancing their social, emotional, intellectual, cognitive, and motor skills while building confidence and self-esteem.

    We strive to serve with excellence in both education and child care.
    
    School Motto: Let your little light shine! </p>

 <div class="about-us__heading">Curriculum</div>   

<p>We at Little Light Academy follow the CAPS curriculum + Extra.

From Grade R the curriculum gets tailored down to the age of 3 years olds.

We also do Letter Land, an educational approach to learning Phonics and the Alphabet.

We have an educational counsellor on-board, who not only deals with educational problems but deals with emotional problems that the children might face.

We have and in-house speech therapist who comes to the School once a quarter.

We have our sports coach and who interacts with children from Babies up until Grade-R.

We have a phonics and reading coach who comes to the School once a week and focuses on reading from age 4 to Grade-R.
This helps with our reading program and to identify children who have problems with reading.

We also have an occupational therapist who comes in once a week.

From Grade-RR we offer an Afrikaans reading program.

Registered as an ECD (Early Childhood Development) site. </p>

<p>EMIS Number : 70070062</p>

<p>Child development stages have such an impact on all aspects of growth, so knowing and understanding them is key for any parent.
Child development stages are not set in stone, all children develop at their own pace, so don’t see these milestones as points that are compulsory to hit by a certain age. 
Instead, use them to make yourself aware of what you can expect as your child grows up, at roughly what time. </p>

    


</div>


</section>    
