.banner {
    background-image: url("/assets/images/slide1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;

    @media(min-width: 768px) {
        height: 100vh;
    }

}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  .user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid  {
    border-color: #9b59b6;
  }

  .contact {
    &__form {
        border: solid 1px #bf258c;
        border-radius: 2px;
        padding: 10px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        padding: 7px 0px 8px 36px;
        letter-spacing: 2px;
      //   .contact__details {
      //     padding: 7px 0px 8px 36px;
      // }

        @media(min-width: 768px) {
            flex-direction: row;
            display: flex;
        }
        @media(min-width:320px) {
          flex-direction: row;
          display: flex;
          width: none;
      }
    }

    &__map {
        iframe {
            width: 100vw;
            height: 70vh;
        }
    }
  }
  form input[type="radio"] {
    display: none;
}
form .button {
    height: 45px;
    margin: 35px 0;
}
form .button input {
  height: 43px;
  width: 32%;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category {
        width: 100%;
    }
    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}
@media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }   
}
.contact__text {
  padding-bottom: 44px;
  padding: 30px 0px 42px 36px;
  font-size: 20px;
}
.color-one {
  // padding: 5px;
  color: #A1CC4D;
  // padding-right: 0.3em;
  // font-size: 20px;

  // @media(min-width: 768px) {
  //   font-size: 30px;
  // }

  // @media(min-width: 1440px) {
  //   font-size: 40px;
  // }

  // @media(min-width: 2560px) {
  //   font-size: 50px;
  //   padding-right: 0.3em;
  // }
}

.color-two {
  color: #BF258C;

  // @media(min-width: 768px) {
  //   font-size: 30px;
  // }

  // @media(min-width: 1440px) {
  //   font-size: 40px;
  // }

  // @media(min-width: 2560px) {
  //   font-size: 50px;
  // }
}