@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* The hero image */
.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/gallery/banner.jpg");
height: 70vh;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
@media(min-width: 768px) {

}
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 318px;
  @media(max-width: 768px) {
    margin: 40px 20px 0 0;
  }
  @media(max-width: 1024) {
    margin: 40px 20px 0 62px;
  }
      
}

.container .heading{
  width: 50%;
  padding-bottom: 50px;
}
.container .heading h3{
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
}

.container .heading h3 span{
  font-weight: 100;
}
.container .box{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.container .box .dream{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container .box .dream img{
  width: 100%;
  padding-bottom: 15px;
  @media (max-width: 796px) {
    position: relative;
    width: 109%;
  }

}

@media only screen and (max-width: 769px){
.container .box{
   flex-direction: column;
}
.container .box .dream{
  width: 100%;
}

}

@media only screen and (max-width: 643px){
.container .heading{
  width: 100%;
}
.container .heading h3{
  font-size: 1em;
}

}

.color-one {
  padding: 5px;
  color: #A1CC4D;
  padding-right: 0.3em;
  font-size: 20px;

  @media(min-width: 768px) {
    font-size: 30px;
  }

  @media(min-width: 1440px) {
    font-size: 40px;
  }

  @media(min-width: 2560px) {
    font-size: 50px;
    padding-right: 0.3em;
  }
}

.color-two {
  color: #BF258C;

  @media(min-width: 768px) {
    font-size: 30px;
  }

  @media(min-width: 1440px) {
    font-size: 40px;
  }

  @media(min-width: 2560px) {
    font-size: 50px;
  }
}