
.home-section {
    padding: 2em 1.5em;

    @media(min-width: 360px) {
        padding: 2em 3.5em;
    }

    @media(min-width: 768px) {
    padding: 2em 3em;
    }

    @media(min-width: 1024px) {
        padding: 2em 2em;
    }

 img {
    width: 48vw;
    height: 9vh;

    @media(min-width: 360px) {
    width: 34vw;
    height: 9vh;
    }


    @media(min-width: 768px) {
        width: 15vw;
        height: 8vh;
    }

    @media(min-width: 1024px) {
        width: 20vw;
        height: 12vh;
    }

    @media(min-width: 1280px) {
        width: 13vw;
        height: 12vh;
    }

    @media(min-width: 1440px) {
        width: 12vw;
        height: 11vh;
    }
 }
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Signika Negative', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;

    @media(min-width: 768px) {
        font-size: 12px;
    }

    @media(min-width: 1024px) {
        font-size: 20px;
    }

    @media(min-width: 1440px) {
        font-size: 22px;
    }

    @media(min-width: 2560px) {
        font-size: 25px;
    }
}

a:hover, a:active{
    color: lightgray;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;

    @media(min-width: 768px) {
        font-size: 12px;
    }

    @media(min-width: 1024px){
        font-size: 19px;
    }

    @media(min-width: 1280px) {
        font-size: 16px;
    }
}

.mat-toolbar{
    border-radius: 0px;
    background-color: white !important;
    top: 0;
    width: 100%;
    padding: 6vh;
    position: absolute;
    z-index: 3;  

    @media(min-width: 768px) {
        padding: 5vh;
    }

    @media(min-width: 1024px) {
        padding: 7vh;
    }
}

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.dropdown-toggle 
{
    font-size: 16px;
    font-family: 'Signika Negative', sans-serif;

    @media(min-width: 768px) {
        font-size: 12px;
    }

    @media(min-width: 1024px){
        font-size: 19px;
    }

    @media(min-width: 1280px) {
        font-size: 20px;
    }

    @media(min-width: 1440px) {
        font-size: 22px;
    }

    @media(min-width: 2560px) {
        font-size: 25px;
    }
}
